<ion-header>
  <ion-toolbar>
      <ion-button fill="clear" slot="start" (click)="goBack()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title>Complete UI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  
    <ion-grid class="grid" fixed>
        <ion-row style="flex-grow: 0.5" *ngFor = "let row of rows" id="{{row}}" > 
          
          <ion-col *ngFor="let col of cols" id="{{col}}" dragula="items" size="3">
          </ion-col>
        </ion-row>
      </ion-grid>   
  
  <ion-list *ngIf="hide" style="width: 50%; position:absolute;bottom: 0;">
    <div id="fab" *ngFor="let obj of objects" dragula="items">
            <ion-range *ngIf="obj.getType() == 'slider'"></ion-range>

            <ion-button style="width:100%" *ngIf="obj.getType() == 'button'">Button</ion-button>
    
            <ion-toggle checked *ngIf="obj.getType() == 'switch'"></ion-toggle>
    </div>
  </ion-list>

  

    
</ion-content>

<ion-footer>
  
    <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list id="fab" dragula="items" side="top">
            <ion-button>
              Button
            </ion-button>
            <ion-toggle color="danger" checked></ion-toggle>
            <ion-range min="0" max="100" pin="true" color="secondary">
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">100</ion-label>
            </ion-range>
            
            
        </ion-fab-list>
    </ion-fab> -->
    <ion-toolbar>
      <ion-button (click)="ngIfCtrl()"><ion-icon name="add"></ion-icon></ion-button>
      <ion-button slot="end" (click)="publish()">Publish</ion-button>
    </ion-toolbar>
  </ion-footer>