#fab{
    // width: 500px !important;
    // height: 150px !important;
    background-color: rgb(219, 210, 210);
}

.delete-area {
    border: 2px dashed var(--ion-color-medium) !important;
    height: 40px;
    margin: 2%;
    width: 96%;
    ion-icon{
      font-size: 33px;
    }
}

.grid{
    height: 90%;
    display: flex;
    flex-flow: column;
}
.c{
    border: 1px solid var(--ion-color-light);
}

ion-content {
    --overflow: hidden;
}

#foo{
    
    margin-right: 15px;
    background-color: gold;
}