<ion-header>
  <ion-toolbar class = "hd" >
    <ion-title>Login Page</ion-title>
    <ion-buttons slot="end">
    <ion-button class="b" (click)="signup()">Signup</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card class="c">
<form class="c" [formGroup]="new_item_form" (submit)="login(new_item_form.value)">
    <ion-item class="c">
      <ion-label color="primary" position="floating">email</ion-label>
      <ion-input class="c" type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item class="c">
      <ion-label color="primary" position="floating">password</ion-label>
      <ion-input class="c" type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Login</ion-button>
  </form>
</ion-card>

<ion-buttons>
  <ion-button text-wrap class="btn" (click)="loginFacebook()">
  <ion-thumbnail class="tmn" slot="start"><ion-img src="assets/fb.png"></ion-img></ion-thumbnail>Facebook Login
  </ion-button><br>
  <ion-button class="btn" (click)="loginGoogle()" text-wrap>
  <ion-thumbnail class="tmn" slot="start"><ion-img src="assets/google.png"></ion-img></ion-thumbnail>Google Login
  </ion-button>
</ion-buttons>
</ion-content>
