<ion-header>
  <ion-toolbar class="hd">
      <ion-button class="hb" fill="clear" float-left class="hbtn" (click)="goBack()">
          <ion-icon class="hb" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button class="hb" fill="clear" slot="end" class="description" (click)="presentAlert()">
          <ion-icon class="hb" name="information-circle"></ion-icon>
      </ion-button>
      <ion-button class="hb" fill="clear" slot="end" class="description" (click)="saveToDB()">
          <ion-icon class="hb" name="save"></ion-icon>
      </ion-button>
    <ion-title>{{UI.getName()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class = "grid" fixed>
        <ion-row style="height:12.5%" *ngFor = "let row of rows">
          <ion-col align-self-stretch *ngFor="let col of cols" size="{{this.sizes[row][col]}}*3">
              <div *ngFor = "let obj of objects">
              <div *ngIf="obj.getRow() == row && obj.getCol() == col">
              <div *ngIf="{type: obj.getType(), channel: obj.getChannel(), value: obj.getValue()}; let v">
      
            <ion-label>{{obj.getLabel()}}</ion-label><br>

            <ion-range  min="0" max="1024" *ngIf="v.type == 'slider'"></ion-range>
      
              <ion-button style="width:100%"  *ngIf="v.type == 'button'">{{obj.getChannel()}}</ion-button>
      
              <ion-toggle   *ngIf="v.type == 'switch'"></ion-toggle>
      
              <div style="height:100%" *ngIf="v.type == 'spacer'"></div>
      
              </div>
              </div>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
