.lab {
    float: left;
	margin-left: 10px;
}
.marg{
    margin:2%;
}

.scanbtn{
	margin: 5%;
}
.lgt{
    width:100%;
    --background: var(--ion-color-light);
    --color: var(--ion-color-danger);
}

.btn-footer {
        width:90%;
        margin:5%;
}