<ion-header>
  <ion-toolbar>
    <ion-title>
      BLE Scanner
    </ion-title>
      <ion-button slot="end" (click)="scan()">
        Scan
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
   <h1 class="lab">Available Devices</h1>
   <ion-list> 
    <ion-item ion-item *ngFor="let device of devices" (click) = "deviceSelected(device)">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p slot="end">RSSI: {{ device.rssi }}</p>
    </ion-item>  
   </ion-list> 
   <h1 class ="lab">User Settings</h1>
   <h2>{{readVal}}</h2>
</ion-content>

<ion-footer>
  <ion-toolbar style="opacity: 50%" *ngIf="this.showFooter">
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>