<ion-header>
  <ion-toolbar>
    <ion-button float-left class="hbtn" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button float-right class="hbtn" (click)="deletePopup()">
    <ion-icon  name="more"></ion-icon>
    </ion-button>
        <ion-title text-center>{{UI.getName()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row style="flex-grow: 0.5" *ngFor = "let row of rows">
    <ion-col align-self-stretch *ngFor="let col of cols" size="{{this.sizes[row][col]}}*3">
        <div *ngFor = "let obj of objects">
        <div *ngIf="obj.getRow() == row && obj.getCol() == col">
        <div *ngIf="{type: obj.getType(), channel: obj.getChannel(), value: obj.getValue()}; let v">

    	<ion-range  min="0" max="1024" [(ngModel)] ="this.values[row][col].value" (ionChange)="handler(v.channel, row, col, $event.value)" *ngIf="v.type == 'slider'"></ion-range>

        <ion-button style="width:100%" (click)="handler(v.channel, 0, 0, v.value)" *ngIf="v.type == 'button'">{{obj.getChannel()}}</ion-button>

        <ion-toggle [(ngModel)] ="this.values[row][col].bool" (ionChange)="handler(v.channel, row, col)" *ngIf="v.type == 'switch'"></ion-toggle>

        <div style="height:100%" *ngIf="v.type == 'spacer'"></div>

        </div>
        </div>
        </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>